

<section class="contents">

  <div class="top" >
    <div class="top__body">
      <h2 class="top__title" id="test">あなたの「いい暮らし」を実現する。</h2>
      <p class="top__text">最高の1日を作り出すお手伝いをしています。</p>
    </div>
  </div>

  <div class="explain">
    <div class="explain__title">事業内容一覧</div>
    <div class="explain__title__cover"></div>
    <div class="explain__body">
      <div class="explain__left">
        <div class="explain__left__title">住宅設備機器工事</div>
        <div class="explain__left__text">
          家の設備として取り付けられているキッチンや<br>洗面台などの施工を行なっています。
        </div>
        <div class="explain__left__text">個人住宅・賃貸マンション・リフォームなど。<br>施工実績多数。</div>
         <div class="explain__left__text">搬入から施工まで一貫して行います。</div>
      </div>
      <div class="explain__right">
        <div class="explain__right__title">
          <%= image_tag "material/3.png", alt: "写真" , class: "explain__image__one"%>
        </div>
      </div>
    </div>
  </div>

  <div class="sekou">
    <div class="sekou__title">キッチン施工業務</div>
    <div class="sekou__title__cover"></div>
    <div class="sekou__body">
      <div class="sekou__left">
        <div class="sekou__left__title">
          <%= image_tag "material/1.png", alt: "写真" , class: "sekou__image__one"%>
        </div>
      </div>
      <div class="sekou__right">
        <div class="sekou__right__title">キッチンの取付業務</div>
        <div class="sekou__right__text">住宅・賃貸・リフォームでのキッチンの取付を行います。</div>
        <div class="sekou__right__text">熟練の取付師が高クオリティ<br>スピィーディーに対応いたします。</div><br>
        <div class="sekou__right__text">「暮らしやすさ」をお約束します。</div>
      </div>
    </div>
  </div>

  <div class="hannyu">
    <div class="hannyu__title">搬入業務</div>
    <div class="hannyu__title__cover"></div>
    <div class="hannyu__body">
      <ul class="hannyu__lists">
        <li class="hannyu__list">
          <div class="hannyu__body">
          <span class="hannyu__text">仕上げ品搬入</span>
          <%= image_tag "material/hannyu1.png", alt: "作業員" , class: "image" %>
          </div>
        </li>
        <li class="hannyu__list">
          <div class="hannyu__body">
            <span class="hannyu__text">安心・安全の搬入作業</span>
            <%= image_tag "material/hannyu3.png", alt: "作業員" , class: "image" %>
          </div>
        </li>
        <li class="hannyu__list">
          <div class="hannyu__body">
            <span class="hannyu__text">搬入業務のプロ</span>
            <%= image_tag "material/hanyuu2.png", alt: "作業員" , class: "image" %>
          </div>
        </li>
      </ul>
    </div>
      <div class="hannyu__explain">蛇口からキッチンの天板などあらゆる商品を搬入しております。</div>
      <div class="hannyu__explain">仕上がり商品など傷をつけてはいけない商品でも搬入可能です。</div>
      <div class="hannyu__explain">難しい搬入経路からでの搬入はお任せください。</div>
      <div class="hannyu__explain">経験豊富な搬入スタッフが安心・安全に搬入いたします。</div>
      <div class="hannyu__comment"></div>
  </div>

  <div class="bottom">
    <div class="bottom__title">代表挨拶</div>
    <div class="bottom__title__cover"></div>
    <div class="bottom__body">
      <div class="bottom__img">
        <%= image_tag "material/sagyoin.png", alt: "代表", class: "image__daihyo" %>
        <p class="bottom__name"> 代表 名波 大知</p>
      </div>
      <div class="bottom__text">
      初めまして、名波です。みなさんの生活でなくて必要なキッチンや洗面を施工しています。宜しくお願い致します。
      </div>
    </div>
  </div>

  <div class="recruit">
    <div class="recruit__body">
      <div class="recruit__title"> 採用情報</div>
      <div class="recruit__text">
        <%= link_to "アルバイト・採用情報はこちら", "#", class: "recruit__link" %>
      </div>
    </div>
  </div>

  <footer>
    <div class="details">
      <div class="detail">
        <p class="detail__title">会社情報</p>
        <ul>
          <li class="detail__text">住所：愛知県名古屋市守山区瀬古東2丁目1113ナカハイツ303</li>
          <li class="detail__text">電話番号：052-737-8773</li>
          <li class="detail__text">メール：nnm_nagoya@ktb.biglobe.ne.jp</li>
        </ul>
        <div class="detail__name">©️有限会社名波工務所</div>
      </div>
    </div>
  </footer>

</section>